.wrapper {
    @media (--xs) {
        flex-direction: column;
    }
}

.text {
    @media (--xs) {
        text-align: center;
    }
}

.icon {
    transition: all 100ms ease-out;
    &:hover,
    &:focus {
        transition: all 100ms ease-in;
        color: var(--static-black-weak);
        transform: scale(1.25);
    }
}
