.masonryGrid {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: -16px;
  margin-right: -16px;
}

.masonryGridColumn {
  padding-left: 16px;
  padding-right: 16px;
  background-clip: padding-box;
}

.imageWrapper {
  position: relative;
  margin-bottom: 16px;
}

.gridItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.darkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--radius-m);
  pointer-events: none;
}

.imageWrapper:hover {
  .gridItem {
    transform: scale(1.02);
  }
}
