.card {
  background: var(--neutral-alpha-light);
  box-shadow: inset 0px 0px 40px 20px var(--glass), var(--shadow-s);

  @media (--s) {
    grid-column: unset !important;
    width: 65% !important;
    place-self: center;
  }

  @media (--xs) {
    grid-column: unset !important;
    width: 100% !important;
    place-self: center;
  }
}


.add {
  cursor: pointer;
  transition: all 500ms ease;
  background: var(--neutral-alpha-light);
  box-shadow: inset 0px 0px 40px 20px var(--glass), var(--shadow-m);

  &:hover,
  &:focus {
    box-shadow: inset 0px 0px 10px var(--glass);
    border-color: var(--solid);
  }
}
