.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: var(--backdrop);
    visibility: hidden;
    transition: var(--transition-macro-medium);

    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.dialog {
    transform: scale(0.2);
    opacity: 0;
    box-shadow: var(--shadow-xl);
    max-width: 40rem;
    transition: var(--transition-macro-medium);

    &.open {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        background: linear-gradient(80deg, var(--scheme-yellow-300), var(--scheme-yellow-700));

    }

    @media (--s) {
        position: fixed;
        bottom: var(--static-space-8);
        top: var(--static-space-8);
        left: var(--static-space-8);
        max-width: calc(100% - (2 * var(--static-space-8)));
    }
}

.title {
    @media (--xs) {
        width: 100%;
        text-align: center;
        padding-left: 55px;
    }
}

.dialoganimate {
    display: block;
    position: fixed;
    top: 25%;
    left: 50%;
    z-index: 5;
    transform: scale(0.2), translate(-50%, 0);
    opacity: 0;
    box-shadow: var(--shadow-xl);
    max-width: 50%;
    width: 50%;
    margin-left: -25%;
    transition: var(--transition-macro-medium);
    animation: HoverCard 3.5s ease-in-out infinite;

    &.open {
        transform: scale(1), translate(-50%, 0);
        opacity: 1;
        visibility: visible;
        background: linear-gradient(80deg, var(--scheme-yellow-300), var(--scheme-yellow-700));
    }

    @media (--m) {
        max-width: 70%;
        width: 70%;
        margin-left: -35%;
    }

    @media (--s) {
        bottom: var(--static-space-8);
        top: 10%;
        left: var(--static-space-8);
        max-width: calc(100% - (2 * var(--static-space-8)));
        width: calc(100% - (2 * var(--static-space-8)));
        height: fit-content;
        margin-inline: auto;
    }
}

@keyframes HoverCard {

    0%,
    100% {
        transform: translate(0, 0) perspective(2000px) rotate3D(1, 0, 0, 2deg);;
    }

    25% {
        transform: translate(-4px, -2px) perspective(2000px) rotate3D(0, -1, 0, 2deg);;
    }

    50% {
        transform: translate(2px, -3px) perspective(2000px) rotate3D(0, 1, 0, 2deg);;
    }

    75% {
        transform: translate(-4px, 2px) perspective(2000px) rotate3D(-1, 0, 0, 2deg);;
    }
    
}
