.bounding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xs {
    width: var(--static-space-16);
    height: var(--static-space-16);
}

.s {
    width: var(--static-space-20);
    height: var(--static-space-20);
}

.m {
    width: var(--static-space-24);
    height: var(--static-space-24);
}

.l {
    width: var(--static-space-32);
    height: var(--static-space-32);
}

.xl {
    width: var(--static-space-40);
    height: var(--static-space-40);
}

.xxl {
    width: var(--static-space-200);
    height: var(--static-space-200);
}